<table class="table table-boldered">
    <tbody>
        <thead>
            <tr>
                <td>发布的信息 </td>
                <td>回复数量</td>
                <td>更新时间</td>
            </tr>
        </thead>
        <% @jobs.each do |job| %>
            <tr>
                <td><%=link_to(job.title, job_path(job))%></td>
                <td><%= job.resumes.count %></td>
                <td><%= job.created_at %></td>
            </tr>
        <% end %>
    </tbody>
</table>
