<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-8 col-md-9">
            <div class="panel panel-success">
                <div class="panel-heading ">
                    <h3 class="panel-title "><%= @job.title%></h3>
                </div>
                <div class="panel-body">
                    <p><%= @job.description%></p>
                    <% if @job.attachment.present?%>
                        <i class="fa fa-paperclip"></i>
                        <%= link_to("附件",@job.attachment_url)%>
                    <% end %>
                    <%= link_to("回复留言", new_job_resume_path(@job), class: "btn btn-success pull-right")%>
                </div>
            </div>
        </div>
    </div>
</div>
