<div class="col-md-12">
    <div class="row box">
        <div class="box-inner col-md-4 col-md-offset-1">
            <h1 class="title">邻里信息共享</h1>
            <p class="slogan">邻里信息共享 让我们互帮互助，生活幸福。
          <br>
                希望借由这个网站，让大家找到邻里间可靠的资源。
          <br>
                照顾好家人，让生活幸福安心！
        </p>
            <p class="lead">
                <%= link_to '进入', jobs_path, class: 'btn btn-danger' %>
            </p>
        </div>
    </div>
</div>
<div class="content-section-a">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-lg-offset-3 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">这是小区住户的信息平台</h2>
                <p class="lead">小区住户能发布信息</p>
            </div>
            <div class="col-lg-5  col-sm-6">
                <%= image_tag 'pic-1.jpg', class: 'img-responsive' %>
            </div>
        </div>
    </div>
</div>
<div class="content-section-b">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">有时候我们三头六臂</h2>
                <p class="lead">忙得团团转 <a target="_blank" href="http://blog.niclin.tw"></a></p>
            </div>
            <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                <%= image_tag 'pic-2.jpg', class: 'img-responsive' %>
            </div>
        </div>
    </div>
</div>
<div class="content-section-a">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">希望借这个平台<br>
                    让我们 照顾好家人</h2>
                <p class="lead">让生活幸福 省心 安心<a target="_blank" href="https://forum.qzy.camp/"></a></p>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <%= image_tag 'pic-3.jpg', class: 'img-responsive' %>
            </div>
        </div>
    </div>
</div>
